<component name="ArtifactManager">
  <artifact type="war" name="springmvc-first:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="firstspringmvc.war">
      <element id="artifact" artifact-name="springmvc-first:war exploded" />
    </root>
  </artifact>
</component>